<template>
  <div>
    <b-navbar toggleable="lg" variant="light">
      <b-navbar-brand href="/">
        <img
          src="../assets/popcorn.png"
          alt="PopCorn"
          width="50px"
          height="30px"
        />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/discover">{{ $t("discoverBar") }}</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              :placeholder="$t('searchBar')"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">{{
              $t("searchBar")
            }}</b-button>
          </b-nav-form>
          <b-nav-item-dropdown :text="$t('langBar')" right>
            <b-dropdown-item @click="changeLang('fr')">
              Français
            </b-dropdown-item>
            <b-dropdown-item @click="changeLang('en')">
              English
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>{{ $t("userBar") }}</em>
            </template>
            <b-dropdown-item href="#">{{ $t("profileBar") }}</b-dropdown-item>
            <b-dropdown-item href="#">{{ $t("logoutBar") }}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  methods: {
    changeLang: function(lang) {
      this.$i18n.locale = lang;
    }
  }
};
</script>
